body {
    background: #303030;
}

.warpper {
    width: 100%;
    padding: 0.6rem 0;
}

.group {
    width: 80%;
    margin: 0 auto 0.5rem;
    background: url(../images/1.png) no-repeat center center;
    height: 3rem;
    background-size: cover;
    border-radius: 0.2rem;
}

.group a {
    color: #fff;
}

h2,
h6 {
    padding: 0 0.5rem;
}

h2 {
    padding-top: 0.5rem;
}

p {
    padding: 0.2rem 0.5rem;
    color: #f2fcff;
}

h5 {
    text-align: right;
    padding: 0 0.5rem 0.5rem 0;
}

h6 {
    font-size: 0.36rem;
    /* padding-top: 0.2rem; */
}

em {
    font-style: normal;
    font-weight: bold;
    font-size: 0.36rem;
}